repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: check-case-conflict
          - id: check-json
          - id: check-symlinks
          - id: check-yaml
          - id: destroyed-symlinks
          - id: end-of-file-fixer
            exclude: docs/CNAME
          - id: fix-byte-order-marker
          - id: fix-encoding-pragma
            args: [--remove]
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    - repo: https://gitlab.com/daverona/pre-commit-cpp
      rev: 0.8.0
      hooks:
          - id: clang-format # formatter of C/C++ code based on a style guide: LLVM, Google, Chromium, Mozilla, and WebKit available
            args: []

    - repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/codespell-project/codespell
      rev: v2.1.0
      hooks:
      - id: codespell
        args: [
              '--ignore-words-list=reord,dout',  # Word used in error messages that need rewording
              --check-filenames,
              --check-hidden,
          ]
