einops==0.3.0
torch==1.7.1
tqdm==4.56.0
transformers==4.2.2
tensorflow==2.4.0
ftfy==5.8
lm_dataformat==0.0.19
-e git+git://github.com/EleutherAI/DeeperSpeed.git@5a454114886709987a954ed315bf9f6b14cc4efc#egg=deepspeed
wandb==0.10.15
