pybind11==2.6.2
torch==1.7.1
six
regex
numpy==1.19.5
nltk==3.5
tensorflow==2.4.1
-e git+git://github.com/EleutherAI/DeeperSpeed.git@c80e033ac049586e366acb251a3859faee315a24#egg=deepspeed
autopep8==1.5.5
zstandard==0.15.1
cupy-cuda102==8.4.0
mpi4py==3.0.3
wandb==0.10.18
einops==0.3.0
