apex==0.1
autopep8==1.5.5
blessings==1.7
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
configparser==5.0.2
cupy-cuda111==8.5.0
dbus-python==1.2.16
deepspeed==0.3.12+1ed4d80
distro-info==0.23ubuntu1
distro==1.4.0
docker-pycreds==0.4.0
einops==0.3.0
fastrlock==0.5
gitdb==4.0.5
gitpython==3.1.14
gpustat==0.6.0
idna==2.8
iotop==0.6
joblib==1.0.1
mpi4py==3.0.3
ninja==1.10.0.post2
nltk==3.5
numpy==1.20.1
nvidia-ml-py3==7.352.0
pathtools==0.1.2
pip==21.0.1
promise==2.3
protobuf==3.15.5
psutil==5.8.0
pybind11==2.6.2
pycodestyle==2.6.0
pygments==2.3.1
pygobject==3.36.0
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.8.1
pyyaml==5.3.1
regex==2020.11.13
requests-unixsocket==0.2.0
requests==2.22.0
sentry-sdk==1.0.0
setuptools==45.2.0
shortuuid==1.0.1
six==1.14.0
smmap==3.0.5
ssh-import-id==5.10
subprocess32==3.5.4
tensorboardx==1.8
toml==0.10.2
torch==1.8.0+cu111
tqdm==4.59.0
typing-extensions==3.7.4.3
unattended-upgrades==0.1
urllib3==1.25.8
wandb==0.10.21
wheel==0.34.2
zstandard==0.15.1