git+https://github.com/EleutherAI/DeeperSpeed.git@eb7f5cff36678625d23db8a8fe78b4a93e5d2c75#egg=deepspeed
einops==0.3.0
ftfy==6.0.1
lm_dataformat==0.0.19
git+https://github.com/EleutherAI/lm-evaluation-harness.git@dc937d4b70af819c5695e09d94e59e4cdb1e40ad#egg=lm_eval
mpi4py==3.0.3
numpy==1.21.0
pybind11==2.6.2
regex
sentencepiece
six
tokenizers==0.10.2
transformers~=4.16.0
wandb==0.10.28
