pybind11==2.6.2
six
regex
numpy==1.20.2
-e git+git://github.com/EleutherAI/DeeperSpeed.git@a6748a420be10240ff86baa65b0e6ab5fcbddf03#egg=deepspeed
mpi4py==3.0.3
wandb==0.10.28
einops==0.3.0
transformers==4.5.0
tokenizers==0.10.2
lm_dataformat==0.0.19
ftfy==6.0.1
